body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
.button3 {
    padding: 50px;
    opacity: 0.3;
    color: black;
    border-radius: 50%;
	}
  .button3:hover {
    opacity: 0.7;
    color: black;
  }
/* These just style the content */
article {
/*  just a fancy border  */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
}
h1 {
  position: absolute;
  top: 50%;
  width: 100%;
  color: white;
  font-family: Oswald, sans-serif;
  text-align: center;
}
h2 {
  position: absolute;
  top: 60%;
  width: 100%;
  font-size: 36px;
  letter-spacing: 3px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
}

h2 span {
  font-family: sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

h2 span a {
  color: black;
}
#portalContainer {
  margin: auto;
}
#portalCircle {
  z-index: -1;
  position: relative;
  top: -270px;

  margin: auto;
  width: 549px;
  height: 535px;
  border-radius: 50%;
  background-image: url("http://www.andrewboyer.us/resources/Untitled-1.png");
  background-repeat: no-repeat;
  transform: rotateX(150deg);
  animation: Rotation 3s linear infinite;

}



@keyframes Rotation {
  0% {
    transform:rotateX(70deg) rotateZ(0deg);
  }
  25% {
    transform:rotateX(71deg) rotateZ(90deg);
  }
  75% {
    transform:rotateX(70deg) rotateZ(270deg);
  }
  100% {
    transform:rotateX(71deg) rotateZ(360deg);
  }
}
